!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /
      \- basic page needs
      \==================================================
    %meta{:charset => "utf-8"}/
    %title Kairos
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    /
      mobile specific metas
      \==================================================
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /
      CSS
      \==================================================
    -# %link{:href => "./stylesheets/application.scss", :rel => "stylesheet"}/
    -# %link{:href => "css/vendor.scss", :rel => "stylesheet"}/
    -# %link{:href => "css/main.scss", :rel => "stylesheet"}/
    /
      script
      \==================================================
    -# %script{:src => "js/modernizr.js"}
    -# %script{:src => "js/pace.min.js"}
    /
      favicons
      \==================================================
    %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %body#top
    /
      preloader
      \==================================================
    #preloader
      #loader.dots-jump
        %div
        %div
        %div
    /
      header
      \==================================================
    %header.s-header
      .row
        .header-logo
          %a.site-logo{:href => "index.html"}
            %img{:alt => "Homepage", :src => "images/logo.svg"}/
        %nav.header-nav-wrap
          %ul.header-main-nav
            %li.current
              %a.smoothscroll{:href => "#home", :title => "intro"} Intro
            %li
              %a.smoothscroll{:href => "#about", :title => "about"} About
            %li
              %a.smoothscroll{:href => "#features", :title => "features"} Features
            %li
              %a.smoothscroll{:href => "#pricing", :title => "pricing"} Pricing
            %li
              %a.smoothscroll{:href => "#download", :title => "download"} Download
          .header-cta
            %a.btn.btn--primary.header-cta__btn.smoothscroll{:href => "#download"} Get The App
        / end header-nav-wrap
        %a.header-menu-toggle{:href => "#"}
          %span Menu
    / end header
    /
      home
      \==================================================
    %section#home.s-home.target-section{"data-image-src" => "images/hero-bg.jpg", "data-natural-height" => "2000", "data-natural-width" => "3000", "data-parallax" => "scroll", "data-position-y" => "center"}
      .shadow-overlay
      .home-content
        .row.home-content__main
          .home-content__left
            %h1
              An Amazing App
              %br/
              That Does It All.
            %h3
              Voluptatem ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explica. Nemo enim ipsam voluptatem quia.
              Ut quis enim.
            .home-content__btn-wrap
              %a.btn.btn--primary.home-content__btn.smoothscroll{:href => "#download"}
                Get The App
          / end home-content__left
          .home-content__right
            %img{:src => "images/hero-app-screens-800.png", :srcset => "images/hero-app-screens-800.png 1x, images/hero-app-screens-1600.png 2x"}/
          / end home-content__right
        / end home-content__main
        %ul.home-content__social
          %li
            %a{:href => "#0"} Facebook
          %li
            %a{:href => "#0"} twitter
          %li
            %a{:href => "#0"} Instagram
      / end home-content
      %a.home-scroll.smoothscroll{:href => "#about"}
        %span.home-scroll__text Scroll
        %span.home-scroll__icon
    / end s-home
    /
      about
      \==================================================
    %section#about.s-about.target-section
      .row.section-header.has-bottom-sep{"data-aos" => "fade-up"}
        .col-full
          %h1.display-1
            Simply The Best Messaging App Out There.
          %p.lead
            Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
            Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat
            omnis ea.
      / end section-header
      .row.wide.about-desc{"data-aos" => "fade-up"}
        .col-full.slick-slider.about-desc__slider
          .about-desc__slide
            %h3.item-title Intuitive.
            %p
              Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
              Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat
              omnis ea aut cumque eos.
          / end about-desc__slide
          .about-desc__slide
            %h3.item-title Smart.
            %p
              Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
              Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat
              omnis ea aut cumque eos.
          / end about-desc__slide
          .about-desc__slide
            %h3.item-title Powerful.
            %p
              Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
              Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat
              omnis ea aut cumque eos.
          / end about-desc__slide
          .about-desc__slide
            %h3.item-title Secure.
            %p
              Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
              Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat
              omnis ea aut cumque eos.
          / end about-desc__slide
        / end about-desc__slider
      / end about-desc
    / end s-about
    /
      about-how
      \==================================================
    %section#about-how.s-about-how
      .row
        .col-full.video-bg{"data-aos" => "fade-up"}
          .shadow-overlay
          %a.btn-video{"data-lity" => "", :href => "https://player.vimeo.com/video/14592941?color=00a650&title=0&byline=0&portrait=0"}
            %span.video-icon
          .stats
            .item-stats
              %span.item-stats__num
                3.1M
              %span.item-stats__title
                Downloads
            / end item-stats
            .item-stats
              %span.item-stats__num
                24K
              %span.item-stats__title
                Positive Reviews
            / end item-stats
        / end video-bg
      .row.process-wrap
        %h2.display-2.text-center{"data-aos" => "fade-up"} How The App Works?
        .process{"data-aos" => "fade-up"}
          .process__steps.block-1-2.block-tab-full.group
            .col-block.step
              %h3.item-title Sign-Up
              %p
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .col-block.step
              %h3.item-title Create
              %p
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .col-block.step
              %h3.item-title Compose
              %p
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .col-block.step
              %h3.item-title Send
              %p
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          / end process__steps
        / end process
      / end about-how
    / end s-about-how
    /
      features
      \==================================================
    %section#features.s-features.target-section
      .row.section-header.has-bottom-sep{"data-aos" => "fade-up"}
        .col-full
          %h1.display-1
            Loaded With Features You Would Absolutely Love.
          %p.lead
            Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
            Ut quis enim rerum quia assumenda repudiandae molestiae cumque qui. Amet repellat
            omnis ea.
      / end section-header
      .row.features.block-1-3.block-m-1-2
        .col-block.item-feature{"data-aos" => "fade-up"}
          .item-feature__icon
            %i.icon-upload
          .item-feature__text
            %h3.item-title Cloud Based
            %p
              Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
              Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
              Sunt suscipit voluptas ipsa in tempora esse soluta sint.
        .col-block.item-feature{"data-aos" => "fade-up"}
          .item-feature__icon
            %i.icon-video-camera
          .item-feature__text
            %h3.item-title Voice &amp; Video
            %p
              Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
              Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
              Sunt suscipit voluptas ipsa in tempora esse soluta sint.
        .col-block.item-feature{"data-aos" => "fade-up"}
          .item-feature__icon
            %i.icon-shield
          .item-feature__text
            %h3.item-title Always Secure
            %p
              Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
              Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
              Sunt suscipit voluptas ipsa in tempora esse soluta sint.
        .col-block.item-feature{"data-aos" => "fade-up"}
          .item-feature__icon
            %i.icon-lego-block
          .item-feature__text
            %h3.item-title Play Games
            %p
              Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
              Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
              Sunt suscipit voluptas ipsa in tempora esse soluta sint.
        .col-block.item-feature{"data-aos" => "fade-up"}
          .item-feature__icon
            %i.icon-chat
          .item-feature__text
            %h3.item-title Group Chat
            %p
              Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
              Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
              Sunt suscipit voluptas ipsa in tempora esse soluta sint.
        .col-block.item-feature{"data-aos" => "fade-up"}
          .item-feature__icon
            %i.icon-wallet
          .item-feature__text
            %h3.item-title Payments
            %p
              Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
              Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
              Sunt suscipit voluptas ipsa in tempora esse soluta sint.
      / end features
      .testimonials-wrap{"data-aos" => "fade-up"}
        .row
          .col-full.testimonials-header
            %h2.display-2 Our Users Love Our App!
        .row.testimonials
          .col-full.slick-slider.testimonials__slider
            .testimonials__slide
              %img.testimonials__avatar{:alt => "Author image", :src => "images/avatars/user-03.jpg"}/
              %p
                Qui ipsam temporibus quisquam velMaiores eos cumque distinctio nam accusantium ipsum.
                Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium praesentium corpori.
              .testimonials__author
                %span.testimonials__name Naruto Uzumaki
                %a.testimonials__link{:href => "#0"} @narutouzumaki
            / end testimonials__slide
            .testimonials__slide
              %img.testimonials__avatar{:alt => "Author image", :src => "images/avatars/user-05.jpg"}/
              %p
                Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.
              .testimonials__author
                %span.testimonials__name Sasuke Uchiha
                %a.testimonials__link{:href => "#0"} @sasukeuchiha
            / end testimonials__slide
            .testimonials__slide
              %img.testimonials__avatar{:alt => "Author image", :src => "images/avatars/user-01.jpg"}/
              %p
                Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.
              .testimonials__author
                %span.testimonials__name Shikamaru Nara
                %a.testimonials__link{:href => "#0"} @shikamarunara
            / end testimonials__slide
          / end testimonials__slider
        / end testimonials
      / end testimonials-wrap
    / end s-features
    /
      pricing
      \==================================================
    %section#pricing.s-pricing.target-section
      .row.section-header.align-center{"data-aos" => "fade-up"}
        .col-full
          %h1.display-1
            Our Simple
            %br/
            Straight-Forward Pricing.
          %p.lead
            Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
            Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat
            omnis ea.
      / end section-header
      .row.plans.block-1-2.block-m-1-2.block-tab-full.stack
        .col-block.item-plan{"data-aos" => "fade-up"}
          .item-plan__block
            .item-plan__top-part
              %h3.item-plan__title Free
              %p.item-plan__price $0
              %p.item-plan__per Forever
            .item-plan__bottom-part
              %ul.item-plan__features
                %li
                  %span 5GB
                  Storage
                %li
                  %span 10GB
                  Bandwidth
                %li
                  %span 30
                  Email Accounts
                %li Backup &amp; Restore
              %a.btn.btn--primary.large.full-width{:href => "#0"} Get Started
        / end item-plan
        .col-block.item-plan.item-plan--popular{"data-aos" => "fade-up"}
          .item-plan__block
            .item-plan__top-part
              %h3.item-plan__title Pro Plan
              %p.item-plan__price $10
              %p.item-plan__per Per Month
            .item-plan__bottom-part
              %ul.item-plan__features
                %li
                  %span 500GB
                  Storage
                %li
                  %span Unlimited
                  Bandwidth
                %li
                  %span 50
                  Email Accounts
                %li Backup &amp; Restore
              %a.btn.btn--primary.large.full-width{:href => "#0"} Get Started
        / end item-plan
      / end plans
    / end s-pricing
    /
      download
      \==================================================
    %section#download.s-download.target-section
      .row.section-header.align-center{"data-aos" => "fade-up"}
        .col-full
          %h1.display-1
            Join Our Community of 3,000,000+ Users.
          %p.lead
            Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
            Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat
            omnis ea.
      / end section-header
      .row
        .col-full.text-center
          %ul.download-badges{"data-aos" => "fade-up"}
            %li
              %a.badge-appstore{:href => "#0", :title => ""} App Store
            %li
              %a.badge-googleplay{:href => "#0", :title => ""} Play Store
      .row.download-bottom-image{"data-aos" => "fade-up"}
        %img{:alt => "App Screenshots", :sizes => "(max-width: 2800px) 100vw, 2800px", :src => "images/app-screen-1400.png", :srcset => "images/app-screen-600.png 600w, \n                        images/app-screen-1400.png 1400w, \n                        images/app-screen-2800.png 2800w"}/
    / end s-download
    /
      footer
      \==================================================
    %footer.s-footer.footer
      .row.section-header.align-center
        .col-full
          %h1.display-1
            Let's Stay In Touch.
          %p.lead
            Subscribe for updates, special offers, and other amazing stuff.
      / end section-header
      .row.footer__top
        .col-full.footer__subscribe.end
          .subscribe-form
            %form#mc-form.group{:novalidate => "true"}
              %input#mc-email.email{:name => "EMAIL", :placeholder => "Email Address", :required => "", :type => "email", :value => ""}/
              %input{:name => "subscribe", :type => "submit", :value => "Sign Up"}/
              %label.subscribe-message{:for => "mc-email"}
      / end footer__top
      .row.footer__bottom
        .footer__about.col-five.tab-full.left
          %h4 About Kairos.
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex consectetur adipisicing elit do eiusmod tempor.
          %ul.footer__social
            %li
              %a{:href => "#0"}
                %i.fab.fa-facebook-f{"aria-hidden" => "true"}
            %li
              %a{:href => "#0"}
                %i.fab.fa-twitter{"aria-hidden" => "true"}
            %li
              %a{:href => "#0"}
                %i.fab.fa-instagram{"aria-hidden" => "true"}
        .col-five.md-seven.tab-full.right.end
          .row
            .footer__site-links.col-five.mob-full
              %h4 Site links.
              %ul.footer__site-links
                %li
                  %a.smoothscroll{:href => "#home"} Intro
                %li
                  %a.smoothscroll{:href => "#about"} About
                %li
                  %a.smoothscroll{:href => "#features"} Features
                %li
                  %a.smoothscroll{:href => "#pricing"} Pricing
                %li
                  %a.smoothscroll{:href => "#download"} Download
                %li
                  %a{:href => "#0"} Privacy Policy
            .footer__contact.col-seven.mob-full
              %h4 Contact Us.
              %p
                Phone: (+63) 555 1212
                %br/
                Fax: (+63) 555 0100
              %p
                Need help or have a question? Contact us at:
                %br/
                %a.footer__mail-link{:href => "mailto:#0"} support@kairos.com
        .col-full.ss-copyright
          %span © Copyright Kairos 2018
          %span
            Design by
            %a{:href => "https://www.styleshout.com/"} styleshout
      / end footer__bottom
      .go-top
        %a.smoothscroll{:href => "#top", :title => "Back to Top"}
    / end s-footer
    /
      Java Script
      \==================================================
    %script{:src => "js/jquery-3.2.1.min.js"}
    %script{:src => "js/plugins.js"}
    %script{:src => "js/main.js"}
